<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Dao.NoteUserDao">
    <insert id="insertUser" parameterType="com.Entity.NoteUser">
        insert into noteuser (userid,username,password,used,type,total,readlock,datalocation,email) values(#{noteuser.userid},#{noteuser.username},#{noteuser.password},#{noteuser.used},#{noteuser.type},#{noteuser.total},#{noteuser.readlock},#{noteuser.datalocation},#{noteuser.email})
    </insert>

    <select id="getUser" resultType="com.Entity.NoteUser" parameterType="java.lang.String">
        SELECT userid,username,password,type,readlock,datalocation,img FROM  noteuser WHERE email=#{email}
    </select>

    <!--显示用户个人信息，需要返回用
    户头像路径、用户名、性别、用户已用空间、用户总空间、
    用户邮箱、地区和用户签名-->
    <select id="getUserInfo" resultType="com.Entity.NoteUser" parameterType="java.lang.String">
        select img,username,gender,used,total,email,address,logo from noteuser where userid=#{uuid}
    </select>

    <!--
    修改用户信息，将用户昵称、性别、地区、签名更新到数据库
    通过用户id
    -->
    <update id="updateUserInfo" parameterType="com.Entity.NoteUser" >
        update noteuser set username=#{noteuser.username},gender=#{noteuser.gender},address=#{noteuser.address},logo=#{noteuser.logo}
    </update>

    <!--根据用户id，修改用户头像路径-->
    <update id="updateUserImg" >
        update noteuser set img=#{headimg} where userid=#{userid}
    </update>

    <!--通过用户id,得到给用户的阅读锁密码“-->
    <select id="getReadLock" resultType="java.lang.String">
        select readlock from noteuser where userid=#{userid}
    </select>

    <!--通过用户id，修改阅读锁密码-->
    <update id="setReadLock" >
        update noteuser set readlock=#{readlock} where userid=#{userid}
    </update>

    <!--通过Email，查询该email是否被注册-->
    <select id="getEmail" parameterType="java.lang.String" resultType="java.lang.String">
        select email from noteuser where email=#{email}
    </select>

</mapper>